@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --font-inter: "Inter", sans-serif;
  --color-green: #20b2a6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-green);
  box-shadow: 0 0 10px var(--color-green);
}
* {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-green) transparent;
}

@keyframes dots {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 30px);
  }
  50% {
    transform: translate(-50px, -20px);
  }
  75% {
    transform: translate(80px, -50px);
  }
}

.georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}

@keyframes ex {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes tech {
  0%,
  100% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(-4800px);
  }
}
